[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vishnumadduri
[access "refs/for/refs/*"]
	read = group user/vishnumadduri
	push = group user/vishnumadduri
	label-Code-Review = -2..+2 group user/vishnumadduri
	label-Verified = -1..+1 group user/vishnumadduri
	rebase = group user/vishnumadduri
	removeReviewer = group user/vishnumadduri
	submit = group user/vishnumadduri
[access "refs/heads/*"]
	read = group user/vishnumadduri
	create = group user/vishnumadduri
	push = +force group user/vishnumadduri
	pushMerge = group user/vishnumadduri
[access "refs/tags/*"]
	push = +force group user/vishnumadduri
	pushTag = group user/vishnumadduri
	pushSignedTag = group user/vishnumadduri
